
.create-tabel{
    background-color: antiquewhite;
    border-collapse: collapse;
    padding: 2px;
    margin: 2%;
    width: 100%;
    text-align: center;
}
.create-tabel td{
    border: 1px solid gray;
}
.paragraph-d{
    color: green;
    background-color: antiquewhite;
}